<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>weather forecast</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,900"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <% forecasts.forEach(forecast => { %>
      <div class="dash <%=forecast%>">
        <div class="cityBox">
          <a href="/locations?location=<%=forecast.location%>" id="locationlink" 
            ><%=forecast.location%></a
          >
          <br /><%=forecast.city%>
        </div>
        <div id="temp"><%=forecast.weather[0].temp%> °C</div>
        <div>
          <img
            src="/assets/<%=forecast.weather[0].icon%>.png"
            class="img"
            id="logochange"
            alt="<%=forecast.weather[0].icon%>"
          />
        </div>
      </div>
      <% }) %>
    </div>
    <script src="/static/script.js ">
    </script>
  </body>
</html>
