<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>weather forecast</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,900"
      rel="stylesheet"
    />
  </head>
  <body >
    <div class="mainD">
      <h1 class="locationName"><%=location.location%></h1>
      <% (location.weather).forEach((day, idx) => { %>
      <div class="detail" id="detailId <%= idx %>">
        <div>
          <img
            src="/assets/<%=day.icon%>.png"
            class="img"
            id="changePic"
            alt="<%=day.icon%>"
          />
        </div>
        <div class="tempD"><%=day.temp%>°C</div>
        <div class="message"><%=day.message%></div>
      </div>
      <% }) %>
    </div>
  
    <button id="newData">new data</button>
    <button id="deleteAll">delete All</button>
    <button id="showdata">show data</button>
 
    <table id="table">
      <thead id="thead">
        <th>Index</th>
        <th>City</th>
        <th>Location</th>
        <th>Weather</th>
      </thead>
      
<tbody id="tableContent"></tbody>
      <template id="data-template">
        <tr id="rowTable">
          <td>{{ index }}</td>
          <td>{{ city }}</td>
          <td>{{ location }}</td>
          <td>{{ weather }}</td>         
        </tr>
      </template>
    
    </table>

    <form action="/api/weather/sendData" method="POST" id="main-form" >
      <div class="username">
        <legend for="city">City</legend>
        <br>
        <input
          type="text"
          class="form-control"
          id="City"
          name="City"
          required
          
        />
      </div>
      <div class="location">
        <legend for="location">Location</legend>
        <br>
        <input
        type="text"
        class="form-control"
        id="Location"
        name="Location"
        required
      />
       </div>
       <div class="weather">
    <legend for="weather">Weather</legend>
    <br>
    <input
    type="text"
    class="form-control"
    id="Weather"
    name="Weather"
    required
  />
</div>

<button id="login" type="submit">send data</button> 
</form>
    <script src="/static/script.js "></script>
  </body>
</html>
